@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9ospgk');
  src:  url('../fonts/icomoon.eot?9ospgk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9ospgk') format('truetype'),
    url('../fonts/icomoon.woff?9ospgk') format('woff'),
    url('../fonts/icomoon.svg?9ospgk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.activity:before {
  content: "\e900";
}
.airplay:before {
  content: "\e901";
}
.alert-circle:before {
  content: "\e902";
}
.alert-octagon:before {
  content: "\e903";
}
.alert-triangle:before {
  content: "\e904";
}
.align-center:before {
  content: "\e905";
}
.align-justify:before {
  content: "\e906";
}
.align-left:before {
  content: "\e907";
}
.align-right:before {
  content: "\e908";
}
.anchor:before {
  content: "\e909";
}
.aperture:before {
  content: "\e90a";
}
.arrow-down-circle:before {
  content: "\e90b";
}
.arrow-down-left:before {
  content: "\e90c";
}
.arrow-down-right:before {
  content: "\e90d";
}
.arrow-down:before {
  content: "\e90e";
}
.arrow-left-circle:before {
  content: "\e90f";
}
.arrow-left:before {
  content: "\e910";
}
.arrow-right-circle:before {
  content: "\e911";
}
.arrow-right:before {
  content: "\e912";
}
.arrow-up-circle:before {
  content: "\e913";
}
.arrow-up-left:before {
  content: "\e914";
}
.arrow-up-right:before {
  content: "\e915";
}
.arrow-up:before {
  content: "\e916";
}
.at-sign:before {
  content: "\e917";
}
.award:before {
  content: "\e918";
}
.bar-chart-2:before {
  content: "\e919";
}
.bar-chart:before {
  content: "\e91a";
}
.battery-charging:before {
  content: "\e91b";
}
.battery:before {
  content: "\e91c";
}
.bell-off:before {
  content: "\e91d";
}
.bell:before {
  content: "\e91e";
}
.bluetooth:before {
  content: "\e91f";
}
.bold:before {
  content: "\e920";
}
.book-open:before {
  content: "\e921";
}
.book:before {
  content: "\e922";
}
.bookmark:before {
  content: "\e923";
}
.box:before {
  content: "\e924";
}
.briefcase:before {
  content: "\e925";
}
.calendar:before {
  content: "\e926";
}
.camera-off:before {
  content: "\e927";
}
.camera:before {
  content: "\e928";
}
.cast:before {
  content: "\e929";
}
.check-circle:before {
  content: "\e92a";
}
.check-square:before {
  content: "\e92b";
}
.check:before {
  content: "\e92c";
}
.chevron-down:before {
  content: "\e92d";
}
.chevron-left:before {
  content: "\e92e";
}
.chevron-right:before {
  content: "\e92f";
}
.chevron-up:before {
  content: "\e930";
}
.chevrons-down:before {
  content: "\e931";
}
.chevrons-left:before {
  content: "\e932";
}
.chevrons-right:before {
  content: "\e933";
}
.chevrons-up:before {
  content: "\e934";
}
.chrome:before {
  content: "\e935";
}
.circle:before {
  content: "\e936";
}
.class:before {
  content: "\e937";
}
.clipboard:before {
  content: "\e938";
}
.clock:before {
  content: "\e939";
}
.cloud-drizzle:before {
  content: "\e93a";
}
.cloud-lightning:before {
  content: "\e93b";
}
.cloud-off:before {
  content: "\e93c";
}
.cloud-rain:before {
  content: "\e93d";
}
.cloud-snow:before {
  content: "\e93e";
}
.cloud:before {
  content: "\e93f";
}
.code:before {
  content: "\e940";
}
.codepen:before {
  content: "\e941";
}
.command:before {
  content: "\e942";
}
.compass:before {
  content: "\e943";
}
.copy:before {
  content: "\e944";
}
.corner-down-left:before {
  content: "\e945";
}
.corner-down-right:before {
  content: "\e946";
}
.corner-left-down:before {
  content: "\e947";
}
.corner-left-up:before {
  content: "\e948";
}
.corner-right-down:before {
  content: "\e949";
}
.corner-right-up:before {
  content: "\e94a";
}
.corner-up-left:before {
  content: "\e94b";
}
.corner-up-right:before {
  content: "\e94c";
}
.cpu:before {
  content: "\e94d";
}
.credit-card:before {
  content: "\e94e";
}
.crop:before {
  content: "\e94f";
}
.crosshair:before {
  content: "\e950";
}
.database:before {
  content: "\e951";
}
.delete:before {
  content: "\e952";
}
.disc:before {
  content: "\e953";
}
.dollar-sign:before {
  content: "\e954";
}
.download-cloud:before {
  content: "\e955";
}
.download:before {
  content: "\e956";
}
.droplet:before {
  content: "\e957";
}
.edit-2:before {
  content: "\e958";
}
.edit-3:before {
  content: "\e959";
}
.edit:before {
  content: "\e95a";
}
.external-link:before {
  content: "\e95b";
}
.eye-off:before {
  content: "\e95c";
}
.eye:before {
  content: "\e95d";
}
.facebook:before {
  content: "\e95e";
}
.fast-forward:before {
  content: "\e95f";
}
.feather:before {
  content: "\e960";
}
.file-minus:before {
  content: "\e961";
}
.file-plus:before {
  content: "\e962";
}
.file-text:before {
  content: "\e963";
}
.file:before {
  content: "\e964";
}
.film:before {
  content: "\e965";
}
.filter:before {
  content: "\e966";
}
.flag:before {
  content: "\e967";
}
.folder-minus:before {
  content: "\e968";
}
.folder-plus:before {
  content: "\e969";
}
.folder:before {
  content: "\e96a";
}
.git-branch:before {
  content: "\e96b";
}
.git-commit:before {
  content: "\e96c";
}
.git-merge:before {
  content: "\e96d";
}
.git-pull-request:before {
  content: "\e96e";
}
.github:before {
  content: "\e96f";
}
.gitlab:before {
  content: "\e970";
}
.globe:before {
  content: "\e971";
}
.grid:before {
  content: "\e972";
}
.hard-drive:before {
  content: "\e973";
}
.hash:before {
  content: "\e974";
}
.headphones:before {
  content: "\e975";
}
.heart:before {
  content: "\e976";
}
.help-circle:before {
  content: "\e977";
}
.home:before {
  content: "\e978";
}
.image:before {
  content: "\e979";
}
.inbox:before {
  content: "\e97a";
}
.info:before {
  content: "\e97b";
}
.instagram:before {
  content: "\e97c";
}
.italic:before {
  content: "\e97d";
}
.layers:before {
  content: "\e97e";
}
.layout:before {
  content: "\e97f";
}
.life-buoy:before {
  content: "\e980";
}
.link-2:before {
  content: "\e981";
}
.link:before {
  content: "\e982";
}
.linkedin-copy:before {
  content: "\e983";
}
.linkedin:before {
  content: "\e984";
}
.list:before {
  content: "\e985";
}
.loader:before {
  content: "\e986";
}
.lock:before {
  content: "\e987";
}
.log-in:before {
  content: "\e988";
}
.log-out:before {
  content: "\e989";
}
.mail:before {
  content: "\e98a";
}
.map-pin:before {
  content: "\e98b";
}
.map:before {
  content: "\e98c";
}
.maximize-2:before {
  content: "\e98d";
}
.maximize:before {
  content: "\e98e";
}
.menu:before {
  content: "\e98f";
}
.message-circle:before {
  content: "\e990";
}
.message-square:before {
  content: "\e991";
}
.mic-off:before {
  content: "\e992";
}
.mic:before {
  content: "\e993";
}
.minimize-2:before {
  content: "\e994";
}
.minimize:before {
  content: "\e995";
}
.minus-circle:before {
  content: "\e996";
}
.minus-square:before {
  content: "\e997";
}
.minus:before {
  content: "\e998";
}
.monitor:before {
  content: "\e999";
}
.moon:before {
  content: "\e99a";
}
.more-horizontal:before {
  content: "\e99b";
}
.more-vertical:before {
  content: "\e99c";
}
.move:before {
  content: "\e99d";
}
.music:before {
  content: "\e99e";
}
.navigation-2:before {
  content: "\e99f";
}
.navigation:before {
  content: "\e9a0";
}
.octagon:before {
  content: "\e9a1";
}
.package:before {
  content: "\e9a2";
}
.paperclip:before {
  content: "\e9a3";
}
.pause-circle:before {
  content: "\e9a4";
}
.pause:before {
  content: "\e9a5";
}
.percent:before {
  content: "\e9a6";
}
.phone-call:before {
  content: "\e9a7";
}
.phone-forwarded:before {
  content: "\e9a8";
}
.phone-incoming:before {
  content: "\e9a9";
}
.phone-missed:before {
  content: "\e9aa";
}
.phone-off:before {
  content: "\e9ab";
}
.phone-outgoing:before {
  content: "\e9ac";
}
.phone:before {
  content: "\e9ad";
}
.pie-chart:before {
  content: "\e9ae";
}
.play-circle:before {
  content: "\e9af";
}
.play:before {
  content: "\e9b0";
}
.plus-circle:before {
  content: "\e9b1";
}
.plus-square:before {
  content: "\e9b2";
}
.plus:before {
  content: "\e9b3";
}
.pocket:before {
  content: "\e9b4";
}
.power:before {
  content: "\e9b5";
}
.printer:before {
  content: "\e9b6";
}
.radio:before {
  content: "\e9b7";
}
.refresh-ccw:before {
  content: "\e9b8";
}
.refresh-cw:before {
  content: "\e9b9";
}
.repeat:before {
  content: "\e9ba";
}
.rewind:before {
  content: "\e9bb";
}
.rotate-ccw:before {
  content: "\e9bc";
}
.rotate-cw:before {
  content: "\e9bd";
}
.rss:before {
  content: "\e9be";
}
.save:before {
  content: "\e9bf";
}
.scissors:before {
  content: "\e9c0";
}
.search:before {
  content: "\e9c1";
}
.send:before {
  content: "\e9c2";
}
.server:before {
  content: "\e9c3";
}
.settings:before {
  content: "\e9c4";
}
.share-2:before {
  content: "\e9c5";
}
.share:before {
  content: "\e9c6";
}
.shield-off:before {
  content: "\e9c7";
}
.shield:before {
  content: "\e9c8";
}
.shopping-bag:before {
  content: "\e9c9";
}
.shopping-cart:before {
  content: "\e9ca";
}
.shuffle:before {
  content: "\e9cb";
}
.sidebar:before {
  content: "\e9cc";
}
.skip-back:before {
  content: "\e9cd";
}
.skip-forward:before {
  content: "\e9ce";
}
.slack:before {
  content: "\e9cf";
}
.slash:before {
  content: "\e9d0";
}
.sliders:before {
  content: "\e9d1";
}
.smartphone:before {
  content: "\e9d2";
}
.speaker:before {
  content: "\e9d3";
}
.square:before {
  content: "\e9d4";
}
.star:before {
  content: "\e9d5";
}
.stop-circle:before {
  content: "\e9d6";
}
.sun:before {
  content: "\e9d7";
}
.sunrise:before {
  content: "\e9d8";
}
.sunset:before {
  content: "\e9d9";
}
.tablet:before {
  content: "\e9da";
}
.tag:before {
  content: "\e9db";
}
.target:before {
  content: "\e9dc";
}
.terminal:before {
  content: "\e9dd";
}
.thermometer:before {
  content: "\e9de";
}
.thumbs-down:before {
  content: "\e9df";
}
.thumbs-up:before {
  content: "\e9e0";
}
.toggle-left:before {
  content: "\e9e1";
}
.toggle-right:before {
  content: "\e9e2";
}
.trash-2:before {
  content: "\e9e3";
}
.trash:before {
  content: "\e9e4";
}
.trending-down:before {
  content: "\e9e5";
}
.trending-up:before {
  content: "\e9e6";
}
.triangle:before {
  content: "\e9e7";
}
.truck:before {
  content: "\e9e8";
}
.tv:before {
  content: "\e9e9";
}
.twitter:before {
  content: "\e9ea";
}
.type:before {
  content: "\e9eb";
}
.umbrella:before {
  content: "\e9ec";
}
.underline:before {
  content: "\e9ed";
}
.unlock:before {
  content: "\e9ee";
}
.upload-cloud:before {
  content: "\e9ef";
}
.upload:before {
  content: "\e9f0";
}
.user-check:before {
  content: "\e9f1";
}
.user-minus:before {
  content: "\e9f2";
}
.user-plus:before {
  content: "\e9f3";
}
.user-x:before {
  content: "\e9f4";
}
.user:before {
  content: "\e9f5";
}
.users:before {
  content: "\e9f6";
}
.video-off:before {
  content: "\e9f7";
}
.video:before {
  content: "\e9f8";
}
.voicemail:before {
  content: "\e9f9";
}
.volume-1:before {
  content: "\e9fa";
}
.volume-2:before {
  content: "\e9fb";
}
.volume-x:before {
  content: "\e9fc";
}
.volume:before {
  content: "\e9fd";
}
.watch:before {
  content: "\e9fe";
}
.wifi-off:before {
  content: "\e9ff";
}
.wifi:before {
  content: "\ea00";
}
.wind:before {
  content: "\ea01";
}
.x-circle:before {
  content: "\ea02";
}
.x-square:before {
  content: "\ea03";
}
.x:before {
  content: "\ea04";
}
.zap-off:before {
  content: "\ea05";
}
.zap:before {
  content: "\ea06";
}
.zoom-in:before {
  content: "\ea07";
}
.zoom-out:before {
  content: "\ea08";
}
