$lightFA: #FAFAFA;
$lightF2: #F2F2F2;
$whiteFF: #FFFFFF;
$grey70: #707070;
$greyEC: #ECECEC;
$grey97: #979797;
$greyD8: #D8D8D8;
$greyEF: #EFEFEF;
$greyF6: #F6F6F6;
$greyF9: #F9F9F9;
$grey9: #999999;
$black23: #232323;
$black0: #000000;
$pixelBase : 16;
$greyE5: #E5E5E5;
$greyD0: #D0D0D0;
$greyC9: #C9C9C9;
$grey9E: #9e9e9e;
$blue127BC3: #127BC3;
$redF86229: #F86229;
$green9FB139: #9FB139;
$green8BC34A: #8BC34A;
$yellowD9E228: #D9E228;
$orangeF5A623: #F5A623;
$orangeFCDE30: #fcde30;
$Small: 576px;
$MaxSmall : 575px;
$Medium : 768px;
$MaxMedium : 767px;
$Large : 992px;
$MaxLarge : 991px;
$ExtraLarge : 1200px;
$MaxExtraLarge : 1199px;
$OnlyLarge: $Medium $MaxLarge;
$OnlyMedium_Large: $Medium $MaxExtraLarge;