.account{
  &-menu{
    @media (min-width: $Large){
      max-width: 350px;
      .nav{
        padding: 30px 80px 30px 60px;
      }
    }
  }
  &-content{
    @media (min-width: $Large){
      flex: 1;
    }
    .nice-select{
      width: 100%;
      border: 1px solid $greyE5;
      padding: 1rem;
      .list{
        padding-bottom: 0!important;
      }
      &:after{
        position: absolute;
        top:1rem;
        right: 1rem;
      }
    }
    .dropdown{
      width: 100%;
      border: 1px solid $greyE5;
      padding: 0;
      &-menu{
        min-width: 100%;
      }
      // &-toggle{
      //    padding: 20px 15px; 
      //  }
      .dropdown-item{
        padding: .375rem .75rem;
      }
    }
  }
  &-menu{
    .nav-pills .show>.nav-link{
      color: $green9FB139;
      border-color: $green9FB139;
      i{
        color: $green9FB139;
      }
    }
    .nav-pills{
      .nav-link{
        background-color: $lightFA;
        font-weight: 500;
        padding: 15px 0 10px;
        border-bottom: 1px solid $greyD0;
        border-radius: 0;
        color: $black23;
        &.active, &:hover{
          color: $green9FB139;
          border-color: $green9FB139;
          i{
            color: $green9FB139;
          }
        }
      }

    }
  }
  
  
}

.payment-option{
  @media (min-width: $ExtraLarge) {
    display: flex!important;
  }
  align-items: stretch;
  a{
    @media (min-width: 601px) {
      width: 200px !important;
    }
    @media(max-width: 600px){
      &.slick-current{
        width: 200px !important;
      }
    }
    height: 140px!important;
    border: 1px solid $greyE5;
    justify-content:center;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    @media (min-width: $Large){
      margin-right: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: $MaxLarge){
      margin-right: 20px;
    }
    //  transition: filter 1s linear;
    
    svg, p{
      // transition: filter 1s linear;
    }
    &:hover,
    &.focus {
      svg{
        filter: invert(60%) sepia(75%) saturate(391%) hue-rotate(29deg) brightness(98%) contrast(79%);
      }
      border-color: $green9FB139;
      p{
        color: $green9FB139;
      }
      polygon{
        // fill: $green9FB139;
      }
      path{
        // stroke: $green9FB139;
        
      }
    }
  }
  // svg{
  //   display: flex;
  // }
}