.book{
  &-line{
    @media (max-width: $MaxLarge){
      width: 100%;
    }
    width: 760px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    &::before{
      content: "";
      position: absolute;
      left:-1px;
      top:0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid $whiteFF;
    }
    &::after{
      content: "";
      position: absolute;
      right:-1px;
      top:0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent; 
      border-right:40px solid $whiteFF; 
    }
   
    &-red{
      background-color: $redF86229;
      z-index: 1;
    }
    &-grey{
      @media (max-width: $MaxLarge){
        width: calc(100% - 30px);
      }
      width: 730px;
      background-color: $greyE5;
      margin-top: -40px;
    }
  }
}
.bg-greyF9{
  .book-line{
    &::before{
       border-left: 40px solid $greyF9;
    }
    &::after{
       border-right:40px solid $greyF9; 
    }
  }
}
.book-lines{
  width: 100%;
  position: absolute;
  bottom: 10px;
}