.calendar{
  &-full{
    display: flex;
    flex-direction: column;
  }
  @media (max-width: $MaxLarge){
    &-title{
      position: relative!important;
      order: -1;
      margin-bottom: 20px!important;
    }
  }
  &-full{
    position: relative;
  }
}

.fc{
  &-scroller{
    height: auto!important;
  }
  // &-icon{
  //   font-family: "MuseoSansRegular"!important;
  //   &-left-single-arrow{
  //     &::after{
  //       content: "\e92e"!important;
  //     }
  //   }
  // }
  &-toolbar{
    display: flex;
    justify-content: flex-end;
    @media (max-width: $MaxLarge){
      justify-content: space-between;
    }
    align-items: center;
    & *{
      @include font-size(18);
      @media (max-width: $MaxLarge){
         @include font-size(14);
      }
    }
    button{
      background-color: transparent!important;
      border: 0 hidden transparent!important;
      transition: none!important;
      box-shadow: none!important;
      border-radius: 0!important;
      background-image: none!important;
      &.fc-state-active{
        background-color: $green9FB139!important;
        color: $whiteFF!important;
      }
    }
  }
  &-right{
    
    & > *{
      display: flex;
      align-items: center;
    }
  
    display: flex!important;
    float: none!important;
    order:1;
  }
  &-center{
     & > *{
      display: flex;
      align-items: center;
    }
    align-items: center;
    display: flex!important;
    order: -1;
    background-color: $greyF6!important;
    padding: 5px!important;
  }
  &-widget{
    &-header{
      border: 0 hidden transparent!important;
      padding: 15px 30px!important;
    }
  }
  &-list{
    &-empty-wrap2{
      position: relative!important;
    }
    &-item{
      @include font-size(18);
       @media (max-width: $MaxLarge){
         @include font-size(14);
      }
      &:hover{
         & > *{
           background-color: transparent!important;
         }
      }
      & > *{
        padding-top: 25px!important;
        padding-bottom: 25px!important;
        @media (min-width: $ExtraLarge){
          &:first-of-type{
            padding-left: 30px!important;
          }
          &:last-of-type{
            padding-right: 30px!important;
          }
        }
        
      }
      &-time{
        color: $grey70;
        padding-right: 100px!important;
      }
      &-marker{
        display: none!important;
      }
    }
    &-heading{
      border: 0 hidden transparent!important;
    }
    &-view{
      border: 0 hidden transparent!important;
    }
  }
}