.card-checkout{
  margin-top: 40px;
  padding: 50px 40px;
  min-height: 920px;
  @media (max-width: $MaxLarge){
    min-height: auto;
    margin-bottom: 0;
    padding: 0 15px;
  }
  margin-bottom: 90px;
  img{
    width: auto;
  }
}

.social{
  &-control{

  }
}
#cc-number {
  &.visa{
    & ~ img {
      &.visa{
        display: block;
      }
    }
  }
   &.amex {
     & ~ img {
       &.amex {
         display: block;
       }
     }
   }
   &.mastercard {
     &~img {
       &.mastercard {
         display: block;
       }
     }
   }
   &.discover {
     &~img {
       &.discover {
         display: block;
       }
     }
   }
  & ~ img {
    display: none;
    position: absolute;
    top:calc((58px - 30px)/2);
    right: -64px;
    width: 44px;
  }
}
.collapse-custom{
  height: 0;
  overflow: hidden;
}



.has-error input {
  border-width: 2px;
}

.validation.text-danger:after {
  content: 'Validation failed';
}

.validation.text-success:after {
  content: 'Validation passed';
}