input[type=checkbox]+label {
  display: block;
  cursor: pointer;
  margin-bottom: 11px;
  position: relative;
  padding-left: 24px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label:before {
  content: "";
  background-image: url("../img/box.svg");
  background-size: cover;
  position: absolute;
  top:8px;
  left:0;
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 12px;
  filter: invert(64%) sepia(2%) saturate(22%) hue-rotate(7deg) brightness(95%) contrast(88%);
}
input[type=checkbox]:checked+label{
  color: $green9FB139;
}
input[type=checkbox]:checked+label:before {
  background-image: url("../img/box-checked.svg");
  filter: invert(55%) sepia(96%) saturate(291%) hue-rotate(29deg) brightness(100%) contrast(89%);
}
.checkbox{
  &-current{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      *{
        color: $green9FB139;
      }
      &:before{
        filter: invert(55%) sepia(96%) saturate(291%) hue-rotate(29deg) brightness(100%) contrast(89%);
      }
    }
    i{
      cursor: pointer;
    }
    p{
      margin-bottom: 0;
      position: relative;
      padding-left: 24px;
      &:before {
        content: "";
        background-image: url("../img/box-checked.svg");
        filter: invert(55%) sepia(96%) saturate(291%) hue-rotate(29deg) brightness(100%) contrast(89%);
        background-size: cover;
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        width: 13px;
        height: 13px;
        margin-right: 12px;
      }
    }
  }
  &-lvl-1{
   cursor: pointer;
   display: block;
   margin-bottom: 11px;
   input[type=checkbox]+label {
    margin-bottom: 0;
    display: flex;
   }
   i{
     display: block;
     margin-top: 8px;
     &.active{
       transform: rotate(180deg);
     }
   }
  }
  &-lvl-2{
    padding-left: 24px;
    display: none;
    input[type=checkbox]+label {
      @include font-size(14);
    }
  }
}