.classes_page{
  h1{
    font-size: 24px!important;
    font-weight: 700 !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important
  }
  p{
    @include font-size(18);
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important
  }
  h5{
    @include font-size(14);
    color:$grey70 !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important
  }
  ul{
    @include font-size(18);
    padding-left: 1rem !important;
  }
}