.event{
   position: relative;
  &.border{
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
  -moz-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
  &:hover {
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.37);
  }
  }
  &-preview{
    margin-top: -200px;
    padding: 60px 70px 40px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    margin-bottom: 60px;
    position: relative;
    @media (max-width: $MaxLarge){
      .absolute-top{
        top: -40px!important;
      }
      margin-top: -65px;
      padding: 9px 14px 20px
    }
    .separator-vertical{
      height: 47px!important;
    }
  }
  &-control{
    .separator{
      &-vertical{
        height: 24px!important;
      }
    }
  }
}

.row-list{
  .event{
    flex-direction: row!important;
     display: flex;
    &-date{
      // flex-direction: column-reverse;
      // justify-content: flex-end!important;
      p{
        color:$grey70!important;
        @include font-size(14);
        font-weight: 700!important;
        // margin-top: 10px;
      }
      i{
        margin-left: 10px;
        // color: $whiteFF!important;
        //   padding: 8px;
        //   display: block;
        // &.text-blue127BC3{
        //   background-color: $blue127BC3;
        // }
        // &.text-green9FB139{
        //   background-color: $green9FB139;
        // }
      }
    }
    &-description{
      padding: 25px 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      .font-size--18{
        @include font-size(24);
      }
    }

    &-image{
      width: 186px;
    }
    &-name{
      width: calc(100% - 186px);
      margin-top: 0!important;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }
  }
}