.search-form{
  .search-input{
    background-color: transparent;
    border-color: transparent;
    
  }
}

.dropdown-toggle{
  &:after{
    display: none;
  }
}
.dropdown-menu{
  
  width: auto!important;
  border: 1px solid $lightF2;
 
  a, li{
    display: block;
    &:hover{
    color: $green9FB139!important;
    background-color: transparent!important;
    }
  }
  a{
    text-decoration: none;
    
  }
}
.input-clear{
  max-height: 20px;
  margin-left: -20px;
  display: none;
  z-index: 1;
  top:calc(50% - 13px);
  right: 240px;
  position: absolute;
  @media (max-width: $MaxLarge) {
    top: auto;
    bottom: 20px;
    right: 55px;
  }
}
.mt-filter{
  margin-top: 84px;
}
.overflow-auto {
  overflow: auto;
}
.filter{
  &s{
    @media (min-width: $ExtraLarge) {
      position: absolute;
      top:0;
      left:15px;
      min-height: 100%;
      width: calc(100% - 30px);
    }
    background-color: rgba(229, 229, 229, 0.5);
  }
  &-search {
    width: calc(100% - 200px);
    .btn {
      padding: 20px 60px;
    }
  }
  &-layout{
    padding-left: 30px;
    width: 200px;
    i {
      cursor: pointer;
      color: $grey9E;
      &.active{
        color: $green9FB139;
      }
      &:before {
        font-size: 20px;
      }
    }
  }
}


