.menu{
  &-footer{
    a{
      text-decoration: none;
      &:hover{
        color: $grey70;
      }
    }
  }
  &-main{
    .list-inline-item{
      @media (max-width: 1439px) and (min-width: $Large){
        @include font-size(14);
      }
      position: relative;
      margin-right: 71px !important; //35*2 + 1
      // &:not(.menu-seporator){
      //   margin-right: 0!important;
      // }
      &:after{
        content: "";
        // margin: 4px 35px 0 !important;
        height: 12px;
        width: 1px;
        border-right: 1px solid $greyD0;
        // background-color: #D0D0D0;
        display: inline-block;
        position: absolute;
        top:6px;
        right: -35px;
        
      }
    }
   @media (max-width: 1439px) and (min-width: $Large){
      .menu-seporator{
        margin: 4px 10px 0!important;
      }
    }
    a{
      text-decoration: none;
      color: $grey70;
      border-bottom: 3px solid transparent;
      padding-bottom: 12px;
      font-weight: 700;
      &:hover{
        color: $green9FB139;
        border-bottom: 3px solid $green9FB139;
        
      }
    }
  }
  &-seporator{
    margin: 4px 35px 0!important;
    height: 12px;
    width: 1px;
    background-color: $greyD0;
  }
}


#menu-mobile{
  .dropdown-item{
    &.active, &:active{
      background-color: transparent;
      color: $grey70 !important;
      font-weight: 700;
    }
  }
  .dropdown-toggle{
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
 .shop{
    width: calc(100% - 42px - 2rem);
 }
  li{
    ul{
       a{
        &:hover{
          color: $grey70!important;
          font-weight: 700;
        }
      }
    }
  }
  *[aria-expanded="false"]{
    .x{
      display: none;
    }
    & ~ .account{
      display: none!important;
    }
  }
  *[aria-expanded="true"]{
    .menu{
      display: none;
    }
    .x{
      display: block;
    }
    & ~ .account{
      display: flex!important;
    }
    & ~ .shop{
      display: none!important;
    }
  }
}

.third-row{
  .list-inline-item{
    position: relative;
    & > a{
      display: block;
    }
    & > ul{
      padding-top: 15px;
      padding-left: 15px;
      display: none;
      position: absolute;
      width: 600px;
      top: 39px;
      left: -15px;
      z-index: 999;
      background-color: $whiteFF;
      border-radius: .25rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
      -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
      li{
        list-style-type: none;
        color: #707070;
        border-bottom: 3px solid transparent;
        padding-bottom: 12px;
        font-weight: 700;
      }
    }
    &:hover{
      & > ul{
        display: block;
      }
    }
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
}


