.modal{
  &-body{
    padding-top: 80px;
    padding-bottom: 80px;
    & > *:not(.close) {
      max-width: 400px;
      margin: 0 auto;
      width: 100%;
    }
  }
  .nav{
    &-link{
      &.active{
        color: $black0!important;
      }
    }
  }
}