
.product{
  position: relative;
  &.border{
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
  -moz-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1)  ; 
    &:hover{
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.37);
      -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.37);
    }
  }
  @media (min-width: $Large){
    &-description{
      width: 701px;
    }
  }
  &-buy{
     @media (min-width: $Large){
      margin-right: 135px;
       padding: 40px 40px 30px;
     }
    
     @media (max-width: $MaxLarge){
     padding: 40px 15px;
    }
    position: relative;

    .add-to-card{
       @media (min-width: $Large){
        position: absolute;
        bottom: -76px;
        left: 0;
        width: 100%;
       }
    
      
      

    }
    .input-group{
      width: auto!important;
    }
    .nice-select{
      width: 173px;
      border: 1px solid $greyE5;
      padding: 20px 15px;
      .list{
        padding-bottom: 0!important;
      }
      &:after{
        position: absolute;
        top:20px;
        right: 15px;
      }
    }
    .dropdown{
      width: 173px;
      border: 1px solid $greyE5;
      padding: 0;
      &-menu{
        min-width: 173px;
        
      }
      &-toggle{
         padding: 20px 15px;
         &:hover{
           p{
             color: $redF86229;
           }
           
          }
         p{
          color: $black23;
          
         }
         
       }
    }
  }

  &-details{
    .slider-control{
      padding: 0 60px;
      @media (max-width: $MaxLarge){
        padding: 0;
      }
    }
    
    @media (min-width: $Large){
      width: calc(100% - 537px);
    }
    & > *{
      &:not(.ml-0){
        @media (min-width: $Large){
          margin-left: 75px;
        }
      }
    }
    .arrows{
        @media (min-width: $Large){
          margin-right: 70px!important;
        }
         @media (max-width: $MaxLarge){
           bottom: -1px!important;
         }
      i{
        display: inline-block;
         @media (min-width: $Large){
          padding:28px;
         }
         @media (max-width: $MaxLarge){
           padding: 12px;
         }
        background-color: $whiteFF;
        color: $green9FB139;
        &:hover{
          background-color: $green9FB139;
           color: $whiteFF;
        }
      }
    }
  }
  &-control{
    @media (min-width: $Large){
      width: 537px;
    }
  }
  &.products-heading{
    padding: 13px 0!important;
    background-color: $whiteFF;
    border-bottom: 0px solid $greyE5!important;
  }
  
  &-image{
    // flex-basis: 130px;
    flex-shrink: 0;
  }
  &-name{
    // flex-basis: 210px;
    flex-shrink: 0;
  }
  &-qty{
    // flex-basis: 100px;
    flex-shrink: 0;
  }
  &-action{
    a{
      text-decoration: none;
      &:hover{
        color: initial;
        text-decoration: none;
      }
    }
  }
  &s{
    @media (min-width: $Large){
      margin-top: 90px;
    }
    &-buy{
      margin-bottom: 40px;
      .product{
        position: relative;
         &::after {
                content: "";
                clear: both;
                display: table;
              }
          & > div{
            @media (max-width: $MaxLarge){
             
            }
            @media (min-width: $Small){
              width: 25%;
            }
            @media (max-width: $MaxLarge){
              float: left;
              margin-left: 20px;
              &:first-of-type{
                margin-left: 0;
              }
            }
        }
        
          padding-bottom:20px;
          border-bottom: 1px solid $greyE5;
          margin-top: 20px;
          &:last-of-type{
            margin-bottom: 40px;
          }
          @media (max-width: $MaxSmall){ 
            &-action{
              position: absolute;
              top:0;
              right: 0;
            }
          }
          &-image{
                @media (max-width: $MaxSmall){ 
                  width: 90px;
                  float: noe;
                  margin-left: 0!important;
                 }

                img{
                   width: 130px;
                  height: 130px;
                  @media (max-width: $MaxLarge){  
                    width: 90px!important;
                    height: 90px!important;
                  }
                }
              
            }
      }
    }
  }
  
    &-category{
      position: absolute;
      bottom: 3px;
      right: 0;
    }
  
}

.row-list{
  .product{
    flex-direction: row!important;
     display: flex;
    &-category{
      position: relative;
      display: flex;
      bottom: auto;
      right: auto;
      margin: 0!important;
      padding: 0!important;
      p{
        color:$grey70!important;
        @include font-size(14);
        font-weight: 700!important;
        margin-top: 10px;
      }
      i{
       
          margin: 0 5px;
          display: block;
       
      }
    }
    &-descriptions{
      
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      .font-size--18{
        @include font-size(24);
      }
    }

    &-image{
      width: 270px;
    }
    &-name{
      width: calc(100% - 270px);
      margin-top: 0!important;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }
  }
}