

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.product-qty{
  .input-number-group .input-number {
    padding: 9px 0!important;
    width: 39px;
  }
  .input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  padding: 9px;
}
}

.input-number-group .input-number {
  width: 59px;
  padding: 20px 10px!important;
  text-align: center;
  outline: none;
  line-height: 14px;
  font-size: 13px;
  margin: 0;
  display: inline-block;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid $greyE5;
   display: inline-block;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  cursor: pointer;
}
.input-number{
  &-decrement, &-increment{
    &:hover{
      i{
        color: $green9FB139;
      }
    }
  }
}




