#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
.addthis_inline_share_toolbox {
  position: absolute;
  display:none;
  bottom: -46px;
  @media (max-width: $MaxLarge) {
    bottom: -251px;
    left:-22px;
  }
  left: 0;
  z-index: 1;
  left: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .5rem;
  background-color: $whiteFF;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
   -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
   -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
}
.event-preview{
  .addthis_inline_share_toolbox{
    bottom: -250px;
  }
}