
.slide{
  &r{
    &-4col{
      margin-bottom: 0;
      .slick-slide{
        margin-bottom: 2px!important;
        height: auto !important;
      }
    }
    &-3col {
      margin-bottom: 0;
      .slick-slide {
        margin-bottom: 2px !important;
        height: auto !important;
      }
      .slick-arrow{
        display: none;
      }
    }
    &-main{
      @media (max-width: $MaxLarge){
        .font-size--48{
          @include font-size(24);
          width: 50%;
        }
      }
    .description{
      @media (min-width: $Large){
        margin-top: 1px; 
      }
      @media (max-width: $MaxLarge){
        max-width: calc(100% - 6px);
      }
      max-width: 600px;
      p{
        @media (max-width: $MaxLarge){
          border-left-width: 2px;
        }
        border-left: 8px solid black;
        padding-left: 25px;
      } 
    }
  }
      &-control{
        @media (min-width: $Large){
          &.slick-control-events{
            padding-left: 40px;
            .arrow-events{
              margin-right: 40px;
            }
          }
        }
        .slick{
          &-arrow{
            position: relative!important;
            top: 0!important;
            left:0!important;
            right: 0!important;
            width: 24px!important;
            height: 24px!important;
            cursor: pointer!important;
          }
          &-dots{
            position: relative;
            bottom: auto;
            text-align: left;
          }
        }
      }
      &-events{
        .slick-slide{
          height: auto !important;
          max-height: 100% !important;
          @media (max-width: 1439px) {
            .event-name{
              padding: 10px;
            }
            .event-date{
              margin-bottom: 10px;
            }
          }
        }
        @media (min-width: $Large){
          padding-left: 40px;
        }
        .event-name{
          padding: 30px;
           @media (max-width: $MaxLarge){
            padding: 15px;
            position: absolute;
            bottom:0;
            left: 0;
           }
        }
        .event-image{
          position: relative;
          overflow: hidden;
          img{
            max-width: initial!important;
            height: auto!important;
          }
        }
        .slick{
          @media (min-width: 1440px) {
             &-track {
              max-height: 635px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
             }
          }
          @media (min-width: $ExtraLarge) and (max-width: 1439px) {
            &-track{
              max-height: 502px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
            }
          }
          @media (min-width: $Large){
            &-list{
                margin: 0 -10px;
              }
          }
          &-slide{
            @media (min-width: $ExtraLarge){
              box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1)  ; 
              -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1)  ; 
              -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1)  ; 
            }
            @media (min-width: $Large){
              margin: 0 10px;
            }
            
            &.slick-current{
              @media (min-width: 1440px) {
                width: 930px!important;
                position: relative;
                @include fadeIn( $duration: 1s, $count: 1, $delay: .2s, $function: ease, $fill: both);
              }
              overflow: hidden;
              @media (min-width: $ExtraLarge) and (max-width: 1439px){
                width: 710px!important;
                position: relative;
                @include fadeIn(
                  $duration: 1s,
                  $count: 1,
                  $delay: .2s,
                  $function: ease, 
                  $fill: both
                );
                }
                 .event-name{
                   @media (min-width: $ExtraLarge){
                      position: absolute;
                      bottom:0;
                      left: 0;
                      padding: 30px 50px;
                   }
                 
                }
            }
          }
        }

      
      }
    
  }
}

.slick{
  @media (max-width: $MaxLarge){
    &-slider {
      margin-left:0!important;
      margin-right: 0!important
    }
    &-slide{
      padding-left:0!important;
      padding-right: 0!important;
    }
  }
  // &-list{
  //   height: auto!important;
  // }
  &-slide{
    // height: auto!important;
    // max-height: 100%!important;
  }
  &-dots{
    background-color: transparent!important;
    li{
      width: 16px!important;
      height: 16px!important;
      background-color: $greyEC;
      &.slick-active{
        background-color: $yellowD9E228;
      }
      button{
        &::before{
          display: none;
        }
      }
    }
  }
}
.slider-book{
  position: relative;
  .slick-slide {
    height: auto !important;
  }
}
.slider-photo{
  .slick-slide{
    height: auto !important;
    max-height: 100% !important;
  }
}
.slider-3col{
  .slick-arrow{
    display: none!important;
  }
}
.book-slide{
  z-index: 2;
  width: 500px;
  margin: 0 auto!important;
  padding: 0 5px;
  @media (max-width: $MaxLarge){
    width: 150px;
  }
  
  .slick{
    &-arrow{
      display: none!important;
      }
    @media (min-width: $Large){
      &-track{
        margin: 0 -15px;
      }
      &-slide{
        margin: 0 15px;
      }
    }
  }
}

.photo-nav{
  width: 100%;
   @media (max-width: $MaxLarge){
     
     padding: 0 25px;
   }
  .slick{
    &-track{
      width: 100%!important;
      transform:translate3d(0, 0, 0)!important;
    }
    &-dots{
      text-align: center;
      margin-top: 20px;
    }
    &-cloned{
      display: none!important;
    }
    &-slide{
      height: auto !important;
      max-height: 100% !important;
      cursor: pointer;
       border:4px solid $whiteFF;
      margin: 5px;
       @media (max-width: $MaxLarge){
        
        width: calc(25% - 40px/4)!important;
        display: none!important;
        
       }
       &.slick-active{
          @media (max-width: $MaxLarge){
            display: flex!important;
          }
       }
      @media (min-width: $Large){
        width: 96px!important;
        height: 96px!important;
         &:not(.slick-current){
        &:hover{
          position: relative;
          &::before{
            background-color:rgba(0,0,0,0.5);
            content: "\e9b0";
            font-size: 24px;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: calc(50% - 12px);
            top:0;
            left: 0;
            color:$green9FB139;
            z-index: 1;
          }
          opacity: 1;
        }
      }
      }
      img{
        opacity: 0.5;
      }
      font-family: 'icomoon' !important;
     
      
      &.slick-current{
        cursor: default;
        border-color: $green9FB139;
        img{
          opacity: 1;
        }
      }
    }
  }
  

}
