.social-list{
  @media (max-width: 1439px){
    margin-right: 10px;
  }
  margin-right: 30px;
  .list-inline-item{
    margin-right: 30px;
    @media (max-width: 1439px){
      margin-right: 10px;
    }
  }
  &-color{
    &-9FB139{
      a{
        color:$green9FB139!important;
        border-color: $green9FB139!important;
        &:hover{
          color: $green9FB139!important;
        }
      }
    }
  }
   a{  
      padding: 12px;
      border-radius: 50%;
      border: 1px solid black;
      color: black;
      text-decoration: none;
      display: block;
       @media (max-width: 1439px) and (min-width: $Large){
         padding: 6px;
         i{
           @include font-size(14);
         }
       }
      &:hover{
        color: black;
      }
    }
 
}
.footer{
  .social-list{
    margin-right: 0;
    @media (max-width: $MaxLarge){
      li{
        margin-right: 0!important;
      }
      display: flex;
      justify-content: space-between;
    }
  }
}