#pills-tab{
  margin-left: 60px;
}
#pills-tabContent{
  padding: 80px 135px 0;
  @media (max-width: $MaxLarge){
    padding-top: 40px;
  }
  
}

.nav-pills{
  .nav-link{
    background-color: $greyEF;
    font-weight: 700;
    color: $grey9;
    padding: 15px 40px;
  }
  .nav-link.active, .show>.nav-link{
    background-color: $green9FB139;
  
  }
}

.account-content{
  & > .tab-content{
    & > .tab-pane{
      padding: 40px 70px 40px 50px;
      @media (max-width: $MaxLarge){
        padding: 30px 5px;
      }
    }
  }
  thead{
    th{
      border:0 solid transparent!important;
      }
    }
  tbody{
    tr{
      border-top:1px solid $greyD0!important;
      &:last-of-type{
        border-bottom: 1px solid transparent!important;
      }
    }
  }
  .nav{
    &-link{
      &.active{
        span{
        color: $whiteFF!important;
        }
      }
    }
  }
}