


.border-child-white *{
  border-color: white!important;
}
.text-black23{
  color: $black23!important;
}
.text-black0{
  color: $black0!important;
}
.text-grey70{
  color:$grey70!important;
}
.text-greyC9{
  color: $greyC9!important;
}
.text-green9FB139{
  color: $green9FB139!important;
}
.text-redF86229{
  color: $redF86229!important;
}
.text-orangeF5A623{
  color:$orangeF5A623!important;
}
.text-blue127BC3{
  color: $blue127BC3!important;
}
.text-grey9E{
  color: $grey9E!important;
}
.bg-whiteF{
  background-color: $whiteFF!important;
}
.bg-greyF6{
  background-color: $greyF6!important;
}
.bg-greyD8{
  background-color: $greyD8!important;
}
.bg-yellowD9E228{
  background-color: $yellowD9E228!important;
}
.bg-green9FB139{
  background-color: $green9FB139!important;
}
.bg-green8BC34A{
  background-color: $green8BC34A!important;
}
.bg-greyEC{
  background-color: $greyEC!important;
}
.bg-lightFA{
  background-color: $lightFA!important;
}
.bg-blue127BC3{
  background-color: $blue127BC3!important;
}
.bg-redF86229{
  background-color: $redF86229!important;
}
.bg-greyE5{
  background-color: $greyE5!important;
}
.bg-greyE5_0_5{
  background-color: rgba($greyE5, 0.5);
}
.bg-black23{
  background-color: $black23!important;
}
.bg-greyF9{
  background-color: $greyF9!important;
}
.bg-orangeFCDE30{
  background-color: $orangeFCDE30!important;
}
.bg-transparent{
  background-color: transparent!important;
}
.bg-greyF9{
  background-color: $greyF9!important;
}
@media (min-width: $Large){
  .bg-lg-transparent{
    background-color: transparent!important;
  }
  .bg-lg-green9FB139{
    background-color: $green9FB139!important;
  }
  .bg-lg-whiteF{
    background-color: $whiteFF!important;
  }
}
.border-color--F2{
  border-color: $lightF2;
}
.separator{
  height: 1px;
  width: 100%;
  background-color: $greyE5;
  margin: 20px 0;
  &-account{
    width: 9px;
    margin: 15px 0;
    @media (max-width: $MaxLarge){
      display: none;
    }
  }
  &-large-9{
    height: 9px;
  }
  &-filter{
    background-color: $greyE5;
    height: 40px;
    width: 1px;
    display: flex;
  }
  &-vertical{
    width: 1px;
    height: 100%;
    margin: 0 20px;
    &-bold{
      width: 8px;
    }
    
  }
}


.color-hover--itinial{
  &:hover{
    color:initial!important;
  }
}
.bg-color-hover--itinial{
   &:hover{
    background-color:initial!important;
  }
}

.btn{
  position: relative;
  &:hover{
    &:before{
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 100%, 100%, 0.3);
      z-index: 10;
    }
  }
}