
*{
  color: $black23;
  font-weight: 500;
  &:focus {
    outline: 0;
  }
}
.font-size--12 {
  @include font-size(12);
}
.font-size--14{
  @include font-size(14);
}
.font-size--16{
@include font-size(16);
}
.font-size--18{
  @include font-size(18);
}
.font-size--20{
  @include font-size(20);
}
.font-size--24{
  @include font-size(24);
}
.font-size--28{
  @include font-size(28);
}
.font-size--30{
  @include font-size(30);
}
.font-size--40 {
  @include font-size(40);
}
.font-size--48{
  @include font-size(48);
}
@media (min-width: $Large){
  .font-size-lg--16{
    @include font-size(16);
  }
  .font-size-lg--20{
    @include font-size(20);
  }
  .font-size-lg--24{
  @include font-size(24);
}
}
.f-w--900{
  font-weight: 900!important;
}
.f-w--300{
  font-weight: 300!important;
}
.f-w--100{
  font-weight: 100!important;
}
.f-w--500{
  font-weight: 500!important;
}
.f-w--700{
  font-weight: 700!important;
}
.line-height-0_8{
  line-height: 0.8;
}
a{
  text-decoration: none!important;
}
.vertical-middle{
  vertical-align: middle!important;
}