.container{
  &-standart{
    &-small{
      padding: 0 135px;
    }
    padding: 0 60px;
    @media (max-width: $MaxLarge){
      background-color: $whiteFF;
    }
  }
}
img {
   height: auto;
   width:100%;
   &.initial{
     width: auto;
   }
}
.footer{
  padding-top: 100px;
  @media (max-width: $MaxLarge){
    padding-top: 40px;
    .footer-content{
      background-color: $greyF9!important;
    }
  }
 
  &-content{
     @media (max-width: $MaxLarge){
      padding: 30px;
     }
    padding: 60px 65px 55px;
  }
  @media (min-width: $Large){
    .flex-column{
      flex: 1;
    }
   
  }
}
.col{
  &-logo{
    flex: 0 0 90px;
  }
}
.ml-for-dropdown{
  margin-left: 0.75rem!important;
}
.faq{
  max-width: 760px;
  margin: 0 auto;
  padding: 70px 0;
  @media (max-width: $MaxLarge){
    padding: 20px 15px;
  }
}
@media (min-width: $Large){
  .w-lg-100{
    width: 100%;
  }
 .dropdown-menu{
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)!important; 
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)!important; 
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)!important; 
   }
}
*[category="classes"]{
  .category-card{
    display: none;
  }
  .category-card-class{
    display: block!important;
  }
}
*[category="events"]{
  .category-card{
    display: none;
  }
  .category-card-event{
    display: block!important;
  }
}
.absolute{
  position: absolute!important;
  &-left{
    left: 0!important;
  }
  &-right{
    right: 0!important;
  }
  &-bottom{
    bottom: 0!important;
  }
  &-top{
    top: 0!important;
  }
}
.relative{
  position: relative!important;
}
@media (min-width: $ExtraLarge){
  .absolute-lg{
    position: absolute!important;
  }
  .relative-lg{
    position: relative!important;
  }
}
.auto{
  &-left{
    left:auto!important;
  }
   &-right{
    right:auto!important;
  }
   &-bottom{
    bottom:auto!important;
  }
   &-top{
    top:auto!important;
  }
}
.width{
  &-auto{
    width: auto!important;
  }
}
.filter-sort-by{
  min-width: 180px;
  .nice-select{
    &:after {
      position: absolute;
      right: .75rem;
    }
  }
}
@media (max-width: $MaxLarge){
 .filter-sort-by{
    width: calc(100% - 106px);
  }
  .dropdown-menu{
    position: relative!important;
    top: 0!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    margin: 0!important;
    transform: none!important;
    border-width: 0!important;
  }
}
.row{
  &.row-flex{
    @media (min-width: $Large) {
      .slick-track{
        display: flex;
        align-items: stretch;
        &>[class*=col-], &>.col {
          display: flex;
          &>*:not(.row) {
            width: 100%;
          }
        }
      }
    }
    &>[class*=col-], &>.col {
      display: flex;
      &>*:not(.row) {
        flex: 1;
      }
    }
  }
  &.row-list{
    .col-12{
      width: 100%;
      margin-bottom:20px;
      max-width: 100%;
      flex: none;
      &:nth-last-of-type(-n+1){
        margin-bottom: 0;
      }
    }
  }
  &.row-grid {
    align-content: stretch;
      .col-12{
        margin-top: 30px;
        &:first-of-type{
          margin-top: 0;
        }
      }
    @media (min-width: $ExtraLarge){
      .col-xl-3{
        &:nth-of-type(-n+4){
          margin-top: 0;
        }
        margin-top: 30px;
      }
      .col-xl-4 {
        &:nth-of-type(-n+3) {
          margin-top: 0;
        }
      margin-top: 30px;
    }
  }
  @media (max-width: $MaxExtraLarge) and ( min-width: $Medium) {
    .col-md-6{
      &:nth-of-type(-n+2){
        margin-top: 0;
      }
      margin-top: 30px;
    }
  }
}
  }

@media (max-width: $MaxLarge){
   .mob{
     &-100{
      width: 100%!important;
    }
    &-fixed{
      z-index: 100;
      position: fixed;
      &-bottom{
        bottom: 0;
      }
      &-left{
        left: 0;
      }
    }
   }
}
.gutter{
  &-normal{
    margin-right: -15px;
    margin-left: -15px;
    & > [class*=col-]{
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
@media (max-width: $MaxLarge){

   #pills-tabContent, .container-standart{
    padding-left: 15px;
    padding-right: 15px; 
  }
}
.second-row{
  img{
    width: 78px;
  }
}

input, select, textarea, button, a{
  &:focus {
    box-shadow: none!important;
  }
}
.large-card{
  margin-top: 30px;
}